/* p{
    color: #008000;
    text-align: center;
    text-decoration: underline dashed ;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 5px #000 ;
    box-shadow: 1px 0px 2px 2px yellow;
    justify-content: center;

} */
/* [id="3color"]{
     color: orange;
    } */
    /* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); 
body{
    height: 100vh;
    background: url('../img/snoopy1.jpg')50px 50px no-repeat;
    background-size: 500px;
    background-position: bottom right;
    background-attachment: fixed;

    background-repeat: no-repeat;;
}
div h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: blue;
    text-shadow: 0px 5px 5px #f00;
    position: sticky;
}
.p2{
    text-align: center;
}
span{
    color: #f00;
    text-transform: uppercase;
}

div .p1{
    text-align: justify;
    color: #f0f;

}

div{
    border: solid 20px  red;
    border-top-style: ridge;
    border-bottom-style: dotted;
    border-right-style: dashed;
    border-left-style: solid;
    border-left-color: green;
    border-top-color: orange;
    border-right-color: blue;    
    padding: 50px;        
}
.color{
    color: pink;
    
}
#dd{
    color: blue;
}
[name~="s"]{
    border: 5px solid blue;
}
p{
    color: #000;
   
} */
.container{
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow: row-reverse wrap; */
    align-items: center;
    
}
.pink, .blue, .red, .yellow,.orange{
    width:30px;
    /* height: 380px; */
}
.pink{
    background-color: pink;

}

.blue{
    background-color: blue;
    height: 500px;
}
.red{
    background-color: red;
    height: 200px;
}
.yellow{
    background-color: yellow;
}
.yellow p {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;

}
.orange{
    background-color: orange;
}