
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@600&family=Unbounded:wght@600&display=swap');

body{
    margin: 0px auto;
    padding: 0;
    background-color: #f3f3f3;
}
table{
    border: none;
    border-collapse: collapse;
    width: 70%;
    margin: 10px auto;
}
.con-text {
    color: #fff;
    font-family: 'Noto Sans Khmer', sans-serif;
    position: absolute;
    bottom: 0px;
    font-size: 17px;   
}
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    width: 300px;
    height: 480px;
    margin: 5px;
    border-radius: 20px;
    padding: 0px 20px;
    position: relative;

}
.img-1{
    background-image: url('../img/sunset.jpg');
    height: 100vh;
}
.img-2{
    background-image: url('../img/cher_yi.jpg');   
}
.img-3{
    background-image: url('..//img/cher_sal.jpg');
}
.img-4{
    background-image: url('..//img/cher_pinh.jpg');
}
.img-5{
    background-image: url('..//img/cher_chor.jpg');
}
.img-6{
    width: unset;
    background-position: top;
    background-image: url('..//img/hrd.JPG');
    
}
header{
    background-color: #fdb873;
    margin: 0;
    
}
ul{
    margin: 0px 50px;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
}
li a{
    font-family: 'Noto Sans Khmer', sans-serif;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    color: #ff8913;
}
.contain{
    width: 90%;
    margin: 30px auto;
}
.con-1{
    width: 18%;
    display: inline-block;
    margin: 15px 15px;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.5s ease-out;
    /* transition: transform 0.7s; */
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}
.con-1:hover{
    transform: scale(1.05); 
    /* opacity: 0.6 ; */
    /* background-color: #ffcccc; */
}
.text{
    padding: 0px 20px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5rem;
    font-family: 'Noto Sans Khmer', sans-serif;
    font-family: 'Unbounded', cursive;
}
.head{
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Noto Sans Khmer', sans-serif;

}
img{
    width:100%;
    border-radius: 20px;
}
.sport-event{
    font-weight: bold;
    margin: 0px 110px;
    border-bottom: 5px solid red;
    font-size: 30px;
}
.sport-event p{
    font-size: 25px;
    background-color: red;
    color: #fff;
    font-family: 'Noto Sans Khmer', sans-serif;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    padding: 15px 0px;
    margin: 5px 0px;
}
.logo{
    width: 60px;
    position: absolute;
    right: 70px;
    top: 2px;
}
.logo img{
    width: 100%;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #feffdd;
    margin: 0 auto;
}
.con-foot{
    width: 90%;
    margin: 10px auto;
    font-size: 17px;
    color: #336600;
    font-family: 'Noto Sans Khmer', sans-serif;
    font-family: cursive;
}
.map{
    float: left;
    width: 33%;
}
.about{
    float: left;
    width: 33%;
}
.about p{
    padding: 0px 25px;

}
.mapouter{
    position:relative;
    text-align:right;
    width:500px;
    height:300px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:500px;
    height:300px;
}
.gmap_iframe {
    width:500px!important;
    height:300px!important;
}
.address{
    float: left;
    width: 33%;
}
.address p{
    padding: 0px 30px;
}
.td{
    transition: .6s all ease-out;
}
.td:hover{
    filter: brightness(70%);

}

