@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
body{
    height: 100vh;
    background-image: url('../img/snoopy1.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: bottom right;
    background-attachment: fixed;
    margin: 0px ;
}
h1{
    text-align: center;
}
.para-section{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.content{
    margin: 0px 25px;
    
}
.content p{
    font-size: 25px;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
table{
    border-collapse: collapse;
    border:1px solid #000;
    width: 100%;
    background-image: url('../img/Snoopy-Dog.jpg');
    background-size: 400px;
    color: #660066;
    font-size: 25px;
}
th, td{
    border-collapse: collapse;
    border:1px solid #000;
    padding: 20px;
    text-align: center;
}

i{
    font-size: 50px;
    color: red;
}
ul{
    margin: 0px;
}
li{
    margin: 0px 20px;
    width: 200px;
    list-style: none;
    list-style-image: url(../img/Orange-1.jpg);
    font-size: 27px;
    padding: 0px;
    text-transform: capitalize;
}
.link {
    text-align: right;
}
.link a{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
a:hover{
    color: orange;
}
a:active{
    color: red;
}
a:visited{
    color: blue;
}
